.idea/
bin/
build/
.ccls-cache
src/**/.ccls-cache
*_compiled_model
examples/*.c
examples/*auto_compiled_model_out*
examples/*.txt
examples/*.pdf
examples/*.png
run.od
.anjuta/
.anjuta_sym_db.db
odecompiler.anjuta
/compile_commands.json
/.cache/
.vimspector.json
*.o

PVS-Studio.log
project.error
project.tasks
strace_out
.vscode/
